.footer {
    background: linear-gradient(270deg, #a5daeb, #cef1fc, #689de7, #ffffff);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}

}


*{
 color: rgb(5, 5, 118); 
}

.title{
    background-image: url(./assets/images/watercolour-light-blue-background_78370-3537.avif);
    background-repeat: no-repeat;
    background-size: cover;
   
    height: 100vh;
}
 h1{
    font-family: 'Parisienne', cursive;
    color: rgb(5, 5, 118);
    letter-spacing: 2px;
 }


.title p {
    font-size: 2.5rem;
   

}


.profile-img {
    height: 180px;
    border-radius: 50%;
}



hr {     
       border-top: 7px dotted ;
       width: 6%;
       margin: 0 auto;
    }
.skills{
   
    height: 100px;
    border-radius: 10%;
}
